.board-column {
  display: flex;
  flex-direction: column;
}

.board-column h3 {
  padding-top: 2.4rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.6rem;
  color: var(--black);
}

.length-tasks {
  color: #756966;
  font-size: 1.8rem;
  font-weight: 500;
}

.add-task-board-column {
  margin-top: 2.4rem;
  width: 100%;
  border: 0;
  background-color: var(--white-purple);
  border-radius: 0.8rem;
  box-shadow: 0px 4px 16px 0px #eae2fd;
  font-size: 3rem;
  color: #a9a9af;
  height: 15rem;
}
