.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.4rem;
}

.title-header {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.title-header h1,
.input-edit-header {
  color: var(--black);
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 4.16rem;
}

.title-header svg {
  width: 2.4rem;
  height: 3.4rem;
  color: #c7c7cd;
  cursor: pointer;
}

.input-edit-header {
  background-color: transparent;
  border: 0;
  width: auto;
}

.input-edit-header:focus {
  outline: 1px solid transparent;
}

.img-profile {
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 9999px;
  background: rgba(0, 0, 0, 0.3);
}

@media (max-width: 538px) {
  .img-profile {
    display: none;
  }
  .title-header h1 {
    font-size: 2.8rem;
  }
}
