.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2.4rem;
}

.title-header {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.title-header h1,
.input-edit-header {
  color: var(--black);
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 4.16rem;
}

.title-header svg {
  width: 2.4rem;
  height: 3.4rem;
  color: #c7c7cd;
  cursor: pointer;
}

.input-edit-header {
  background-color: transparent;
  border: 0;
  width: auto;
}

.input-edit-header:focus {
  outline: 1px solid transparent;
}

.profile {
  position: relative;
}

.btn-open-profile {
  border: 0;
  background-color: transparent;
  outline: 1px solid transparent;
}

.img-profile {
  width: 6.4rem;
  height: 6.4rem;
  border-radius: 9999px;
  background: rgba(0, 0, 0, 0.3);
}

.settings-profile {
  display: grid;
  gap: 1.2rem;
  min-width: 16rem;

  background-color: white;
  box-shadow: 0px 4px 16px 0px #eae2fd;
  border-radius: 0.8rem;
  padding: 2.4rem;
  font-weight: 700;
  position: absolute;
  z-index: 2;

  transform: translate(-7.6rem, 1rem);
  transition: 0.2s;
}

.name-settings-profile {
  font-size: 1.2rem;
  color: #756966;
}

.link-settings-profile {
  color: var(--black);
  transition: 0.2s;
}

.link-settings-profile:hover {
  color: var(--purple);
}

@media (max-width: 538px) {
  .img-profile {
    display: none;
  }
  .title-header h1 {
    font-size: 2.8rem;
  }
}
