.modal-new-task {
  background-color: white;
  border-radius: 0.8rem;
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 4rem;
  display: grid;
  gap: 2.4rem;
  max-width: 58rem;
  width: 100%;
  z-index: 1; /* Fica em cima do fundo preto */
}

.close-modal-wrapper {
  display: flex;
  justify-content: end;
  position: relative;
}

.close-modal {
  position: absolute;
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
}

.title-modal-new-task {
  color: var(--black);
  margin-top: 1rem;
}

.modal-new-task form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "title title"
    "description description"
    "tags color"
    "btn btn";
  gap: 2rem;
}

.modal-new-task form div label:first-child {
  opacity: 0.8;
}

.title-task {
  grid-area: title;
}

.description-task {
  grid-area: description;
}

.description-task-input {
  min-height: 10rem;
}

.title-task-input,
.description-task-input {
  width: 100%;
  border-radius: 0.5rem;
  border: 1px solid var(--purple);
  resize: none;
  margin-top: 0.4rem;
  padding: 0.6rem 0.8rem;
  font: 400 1.6rem "Inter", sans-serif;
}

.name-tags-task,
.color-task-label {
  display: block;
  margin-bottom: 0.5rem;
}

.label-tags-checkbox {
  display: flex;
  gap: 0.7rem;
  text-transform: capitalize;
}

.color-task-select {
  width: 100%;
  border: 1px solid var(--purple);
  border-radius: 0.5rem;
  text-transform: capitalize;
  padding: 0.5rem;
  background-color: transparent;
}

.search-btn.btn-modal {
  grid-area: btn;
  justify-content: center;
  font-weight: 700;
  margin-top: 1.2rem;
  transition: 0.2s;
}

.search-btn.btn-modal:hover {
  filter: brightness(0.9);
  font-size: 1.6rem;
}

/* Errors */
.error-task {
  color: #ed4337;
  font-size: 1.5rem;
}

@media (max-width: 610px) {
  .modal-new-task {
    max-width: 40rem;
  }
}

@media (max-width: 420px) {
  .modal-new-task {
    max-width: 30rem;
    padding: 2rem 2.5rem;
  }
}
