.search-form {
  width: 100%;
  padding: 0 2.4rem;
  display: flex;
  gap: 1.6rem;
  position: relative;
}

.search-btn {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding: 1.2rem 3.2rem;
  background-color: var(--purple);
  border: 0;
  border-radius: 0.5rem;
  color: white;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.4rem;
}

.search-btn svg {
  width: 2.4rem;
  height: 2.4rem;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  background: white;
  border: 0.7px solid #e3e3e3;
  box-shadow: 0px 4px 16px rgba(22, 22, 22, 0.1);
  border-radius: 0.8rem;
  padding: 1.2rem 2.4rem;
}

.search-bar svg {
  width: 2.4rem;
  height: 2.4rem;
  fill: #505059;
}

.search-input {
  width: 100%;
  border: 0;
  color: #7c7c8a;
}

.search-input:focus {
  outline-color: transparent;
}

.select-search-form {
  background-color: white;
  box-shadow: 0px 4px 16px rgba(22, 22, 22, 0.1);
  border-radius: 0.8rem;
  padding: 1.6rem 2.2rem;
  position: absolute;
  top: 6.5rem;

  display: grid;
  gap: 1.2rem;
}

.title-select-search-form {
  color: #756966;
  font-weight: 400;
}

.select-search-form ul {
  list-style-type: none;
  display: grid;
  gap: 1.3rem;
  color: var(--purple);
}

.select-search-form ul li {
  padding: 0.2rem 0;
  border-radius: 0.8rem;
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
  text-indent: 1.5rem;
  transition: 0.2s;
}

.select-search-form ul li:hover {
  filter: brightness(0.7);
}

@media (max-width: 642px) {
  .search-form {
    flex-direction: column-reverse;
  }
}
