* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Inter", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%; /* Turns 1rem into 10px */

  --purple: #7c3aed;
  --light-purple: #e2d6ff;
  --white-purple: #fbfaff;
  --sidebar-purple: #cab3ff;
}

body {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}
