* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%; /* Turns 1rem into 10px */

  --purple: #7c3aed;
  --light-purple: #e2d6ff;
  --white-purple: #fbfaff;
  --sidebar-purple: #cab3ff;
  --black: #403937;
}

body {
  background-color: var(--purple);
}

body.modal-open::before {
  content: "";
  display: block;
  height: 1000vh;
  width: 100vw;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

body,
input,
button {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}
